# 🛠️ Configurações Gerais do Django
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# 🌐 Configurações de Frontend (Vite/React)
# VITE_DEV_SERVER_URL=http://127.0.0.1:5173
CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173

# 🗄️ Banco de Dados (MySQL / PostgreSQL)
# DB_ENGINE=django.db.backends.mysql
DB_NAME=sige_db
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_HOST=127.0.0.1
DB_PORT=3306

# 🚀 Performance & Cache (Redis)
REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# 👁️ Observabilidade & Monitoramento
SENTRY_DSN=https://chave-publica@sentry.io/projeto-id

# ☁️ Armazenamento de Arquivos (Cloudinary)
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret

# 📧 Configurações de E-mail (SMTP)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=seu-email@gmail.com
EMAIL_HOST_PASSWORD=sua-senha-de-app

# 🛡️ Segurança & LGPD
# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True

# 💰 Gateway de Pagamento (Futuro)
ASAAS_API_KEY=sua_chave_asaas_aqui
ASAAS_ENVIRONMENT=sandbox # ou production

# 📱 Comunicação (Futuro)
WHATSAPP_BUSINESS_TOKEN=seu_token_aqui
WHATSAPP_PHONE_NUMBER_ID=seu_id_aqui
