[flake8]
# Ignorando avisos que não queremos tratar neste projeto:
# E501: linhas longas
# E402: imports não no topo
# E265, E262: comentários mal formatados
# W293, W292, W391: linhas em branco
# E722: bare except
ignore = E501,E402,E265,E262,W293,W292,W391,E722,E303,E305,E306,E501,E261,E231,E302,W503
max-line-length = 120