* .sql
.env
db.sqlite3
__pycache__/
*.pyc


# Arquivos de cobertura de testes
.coverage
htmlcov/
.flake8
.pylintrc
.coveragerc
pyproject.toml

# Scripts e arquivos de exportação
codigo_completo.pdf
exportar_codigo.py
codigo_completo.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/

# SQLite (opcional, mas recomendado)
db.sqlite3

# Arquivos temporários
*.log
*.pot
*.py~ 
*~

# Diretórios do Django
/staticfiles/
media/

# IDE (opcional)
.vscode/
.idea/
