{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>SIGE - Sucesso</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/esqueceu_senha.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">

    <!-- TOPO SIMPLES -->
    <div class="menu-principal" style="justify-content:center;">
        <img src="{% static 'core/img/Logo_Branca.png' %}" class="logo-menu" alt="SIGE">
        <h2>sige</h2>
    </div>

    <!-- CONTEÚDO -->
    <main style="margin-left:0;">
        <div class="topo-formulario">
            <h1>Tudo pronto!</h1>
        </div>

        <div class="conteudo-principal-rolavel">

            <div class="area-feedback">

                <div class="icone-destaque icone-sucesso">
                    <i class="fa-solid fa-circle-check"></i>
                </div>

                <h3>Senha redefinida com sucesso!</h3>

                <p>
                    Sua senha foi alterada com sucesso.
                    Agora você já pode acessar o sistema utilizando suas novas credenciais.
                </p>

                <div class="botoes-centralizados">
                    <a href="{% url 'login' %}" class="btn">
                        Ir para o Login
                    </a>
                </div>

            </div>

        </div>
    </main>

</div>
</body>
</html>
