CompileFlags:
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
  Add:
    - -isystem
    - C:/Users/gu268/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0
    - -isystem
    - C:/Users/gu268/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0/xtensa-esp32-elf
    - -isystem
    - C:/Users/gu268/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include/c++/8.4.0/backward
    - -isystem
    - C:/Users/gu268/.platformio/packages/toolchain-xtensa-esp32/lib/gcc/xtensa-esp32-elf/8.4.0/include
    - -isystem
    - C:/Users/gu268/.platformio/packages/toolchain-xtensa-esp32/lib/gcc/xtensa-esp32-elf/8.4.0/include-fixed
    - -isystem
    - C:/Users/gu268/.platformio/packages/toolchain-xtensa-esp32/xtensa-esp32-elf/include
