{% extends 'core/base.html' %}
{% load static %}

{% block title %}Painel do Professor{% endblock %}
{% block header_title %}Painel do Professor{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/discentes.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/disciplinas_professor.css' %}">
{% endblock %}

{% block user_info %}
  <span>Olá, <a href="#">{{ request.user.get_full_name }}</a></span>
  <a href="{% url 'editar_perfil_professor' %}"><i class="fas fa-user"></i></a>
  <a href="{% url 'logout' %}"><i class="fas fa-power-off"></i></a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="content-box">
    <h2 class="titulo">Disciplinas Atribuídas</h2>

    {% if disciplinas %}
    <table class="tabela-disciplinas">
      <thead class="tabela1">
        <tr class="tabela-principal">
          <th class="tabela-cabecalho">Disciplina</th>
          <th class="tabela-cabecalho">Turma</th>
          <th class="tabela-cabecalho">Ações</th>
        </tr>
      </thead>
      <tbody class="tabela2">
        {% for d in disciplinas %}
        <tr class="linhas-tabela">
          <td class="tabela-info">{{ d.nome }}</td>
          <td class="tabela-info">{{ d.turma.nome }}</td>
          <td class="tabela-icones">
            <a href="{% url 'lancar_nota' d.id %}" class="action-btn editar">
              <i class="fas fa-pen-to-square"></i> Lançar Notas
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p style="color: white;">Nenhuma disciplina atribuída.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
