body
{
    background-color:#fff;
}
.conteudo 
{
    margin-left: 220px;
    margin-top: 90px; /* ↓ antes era 60px */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.titulo
{
    font-size:40px;
    margin-bottom: 35px;
}

.formulario
{
    padding-top:30px;
    width: 90%;
    border-top:1px solid #ededed;
}

.formulario .linha
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.formulario .linha label 
{
    width: 50%;
}

.formulario input,
.formulario select 
{
    flex: 1;        
    padding: 5px 8px;
    color: #868686;
    border:1px solid #d3d3d3;
}
.acoes 
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.btn-secondary
{
    border: 1px solid #d3d3d3;
    background-color:#e9ecf1;
    border-radius:5px;
    padding:5px 8px;
    color:black;
    font-size:15px;
    text-decoration: none;
}

.btn-primary
{
    border: 1px solid #cfd9f1;
    background-color:#3176f4;
    border-radius:5px;
    padding:5px 8px;
    color:white;
    font-size:15px;
    cursor:pointer;
}

/* Responsividade para Tablets e Telas Médias */
@media (max-width: 1024px) {

    main {
        margin-left: 180px;
    }

}

/* Responsividade para Celular */
@media (max-width: 768px) {

    main {
        margin-left: 0;
        padding: 15px;
    }

}
