/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
     font-family: 'Poppins', sans-serif;
    background-color: #58a0c8;
    color: #333;
    padding-top: 100px;  /* espaço para o header fixo */
    padding-bottom: 120px; 
}

/* Cabeçalho fixo */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;  /* altura reduzida */
    background-color: #113f67;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 1000;
    border-bottom: #fdf5aa 3px solid ;
}

/* Logo e título lado a lado */
.logo-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Logo grande, saindo um pouco do header */
.logo-titulo img {
    height: 90px;  /* maior que a altura do header */
    margin-top: 5px; /* para alinhar melhor */
}

/* Título menor e alinhado */
.logo-titulo h1 {
    font-size: 28px;
    color: #ffffff;
    margin-left: 10px;
}

/* Informações do usuário */
.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: #fff;
}

.user-info a i {
    background-color:  #fdf5aa;
    color: #003f7a;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s ease;
}

.user-info a {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.user-info a i:hover {

    transform: scale(1.1);
}

/* Ícones principais do painel */
.icones-principais {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 60px auto;
    flex-wrap: wrap;
    max-width: 1000px;
    cursor: pointer;
}

.icone {
    text-align: center;
    transition: transform 0.3s;
}

.icone:hover {
    transform: scale(1.05);
}

.icone img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    background-color: #34699a;
}

.icone:hover img {
    background-color: #fdf5aa;
}

.icone p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

/* Caixa de informações estatísticas */
.info-box {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    margin: 30px auto;
    border: 8px solid #113f67;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    flex-wrap: wrap;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box div {
    min-width: 120px;
}





/* Rodapé fixo */
.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #113f67;
    text-align: center;
    padding: 0px 0; /* altura menor, reduzida de 10px para 5px */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #fdf5aa 3px solid ;
}

/* Logo do rodapé */
.rodape img {
    height: 50px; /* maior para logo grande */
    filter: brightness(0) invert(1); /* deixa a logo branca */
}
