body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #58a1c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloco {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px; 
  width: 100%;
  margin-bottom: 32px;
}

.painel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #fff;
  margin-bottom: 7px;
  font-size: 1.18rem;
  font-weight: 700;
}

.cabecalho h2 {
  margin: 0;
  font-size: 1.32rem;
  font-weight: 700;
}

.cabecalho span {
  font-size: 1.03rem;
  font-weight: 400;
  opacity: 0.8;
}

.conteudo {
  background-color: #34699a;
  border-radius: 22px;
  border: 6px solid #34699a;
  padding: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.tabela-wrapper {
  flex: 1;
}

table {
  border-collapse: collapse;
  background-color: #34699a;
  color: #fff;
  font-size: 1.03rem;
  width: 100%;
  font-weight: 700;
  margin-right: 14px;
}

th, td {
  border: 2px solid #fff8aa;
  padding: 11px 16px;
  text-align: center;
  font-weight: 700;
  font-size: 1.03rem;
}

th {
  color: #fff;
  background: none;
}

td:first-child {
  color: #fff;
  text-align: left;
}

td:not(:first-child) {
  color: #fdf5aa;
}

.salvar {
  background-color: #fdf5aa;
  border: none;
  padding: 22px 38px;
  font-size: 1.13rem;
  font-weight: 400;
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #113f67;
  transition: background 0.2s;
  margin-left: 24px;
  min-width: 130px;
  justify-content: center;
}

.icone-disquete {
  height: 34px;
  width: auto;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  filter: brightness(0) saturate(100%) invert(16%) sepia(72%) saturate(600%) hue-rotate(170deg);
}

.salvar:active,
.salvar:hover {
  background-color: #ffe;
}

@media (max-width: 900px) {
  .bloco {
    flex-direction: column;
    align-items: stretch;
    max-width: 98vw;
  }
  .salvar {
    margin: 18px auto 0 auto;
    width: 100%;
    justify-content: center;
  }
  table {
    margin-right: 0;
  }
}


form {
  background: transparent;
  border: none;
  outline: none;
  color: #fdf5aa;
}

table {
  background: transparent;
}

input.nota-input {

  background-color: #a7b89c00;
  border-radius: 25px;
  border: none;
  outline: none;
  border: none;
  color: #fdf5aa;
  text-align: center;
 
}
